<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="app icon" href="/assets/images/base/logo_icon.ico" type="image/x-icon">
    <title>ChatRoom | <%= locals.data.view %></title>
    <link rel="stylesheet" href="/assets/files/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/files/icons/bootstrap-icons.css"> 
    <script src="/assets/files/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/files/js/vue.js"></script>
</head>
<body>