/* fonts */
@import url("../fonts/Euclid/stylesheet.css");
@import url("../fonts/Poppins/stylesheet.css");

.title, .title-smb, .title-b {
    font-family: 'Euclid Circular', Geneva, Verdana, sans-serif;
}
.title{
   font-weight: 500;
}
.title-smb{
    font-weight: 600;
}
.title-b{
    font-weight: bold; 
}

.text, .text-smb, .text-b {
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
   font-weight: 300;
}
.text-smb{
    font-weight: 600;
}
.text-b{
    font-weight: bold;
}
/* --fonts */

/* Globals */
 /* Color Themes */
  :root{
    /* Light-Theme */
      /* Backgrounds-Colors */
       --bg-light: #fff;
       --bg-light-dark: #eff2f6;
       --bg-light-darker:#e0e1e4;
       --bg-light-grey: #ababab;
       --bg-active: #564dea;
       --bg-active-darker:#4c45d6;
       --bg-active-dark:#3f39bc;
       --bg-dark: #0b0b0b;
       --bg-darker: #040404;
       --bg-dark-grey:#101010;

       /* Borders-Colors */ 
       --bd-light:#e0e1e4;
       --bd-light-dark:#dcd9d9;
       --bd-dark:#0b0b0b;
       --bd-darker:#040404;
       --bd-active:#564dea;
       --bd-active-dark:#4c45d6;

       /* Text-Colors */
       --tc-active:#564dea;
       --tc-active-dark:#3f39bc;
       --tc-dark:#0c1127;
       --tc-dark-light:#697b93;
       --tc-dark-lighter:#a0a6b0;

    }
body{
    font-family: 'Poppins', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size:0.85em;
    color:var(--tc-dark);
    background: var(--bg-light);
}
*{
 box-sizing: border-box !important;
}
.cursor-p{
    cursor: pointer !important;
}
.fs-7{
    font-size:0.85em;
}
.fs-8{
    font-size: 0.75rem;
}

/* text-colors */
.txt-dark{color:var(--tc-dark);}
.txt-dark-light{color:var(--tc-dark-light);}
.txt-dark-lighter{color:var(--tc-dark-lighter);}